<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.VisualBasic.ApplicationServices.Development.VisualStudio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.VisualBasic.ApplicationServices.Development.VisualStudio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Microsoft.VisualBasic.ApplicationServices.Development.VisualStudio.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value>ABCD</value>
            </setting>
        </Microsoft.VisualBasic.ApplicationServices.Development.VisualStudio.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Microsoft.VisualBasic.ApplicationServices.Development.VisualStudio.My.MySettings>
            <setting name="Setting1" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
        </Microsoft.VisualBasic.ApplicationServices.Development.VisualStudio.My.MySettings>
    </applicationSettings>
</configuration>
