################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Microsoft.VisualBasic.Core/v15/Server/sqlite3
*.suo
bin/
Debug/
Release/
obj/
*.dtbcache
/.vs/Microsoft.VisualBasic.NET47/v15/Server/sqlite3
*.lock
*.ide
*.ide-shm
*.ide-wal
*.sqlite
*.sqlite-journal
.vs/Microsoft.VisualBasic.Core/DesignTimeBuild/.dtbcache.v2
.vs/Core/DesignTimeBuild/.dtbcache.v2

Apps
*.vsidx
*.bin
*.v2
*.v1
*.v2
*.v5
.vs/ProjectEvaluation/.net-core.metadata.v6.1
.vs/ProjectEvaluation/.net-core.projects.v6.1
.vs/ProjectEvaluation/netcoreapp-6.metadata.v6.1
.vs/ProjectEvaluation/netcoreapp-6.projects.v6.1
/.vs/netcoreapp-6/CopilotIndices/17.14.995.13737
/.vs/netcoreapp-6/CopilotIndices/17.14.1091.29919
